body {
  background-color:pink;
}
.column{
  color: rgba(255, 0, 0, 0.5);
}
.column{
float: left;
width: 300px;
padding: 20px;
margin: 20px;
}
.test-box{
  border:2px solid black;
  margin: 100px;
  padding: 50px;
}
